/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Service Section
6.  Categories Section
7.  Instagram Section
8.  About Section
9.  Contact
10.  Footer Style
-------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01071em; }

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3; }

h2 {
  color: #0E70C7;
  font-size: 35px;
  padding: 10px 0px 0px 0px;
  line-height: 1.35;
  letter-spacing: .005em;
  margin-bottom: 16px; }

h3 {
  letter-spacing: .005em;
  color: #777777;
  font-size: 25px;
  font-weight: 600; }

h4 {
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  line-height: 1.45;
  font-weight: 600;
  letter-spacing: .005em; }

h5 {
  color: #0E70C7;
  font-size: 16px;
  font-weight: 600; }

p {
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .005em; }

a {
  color: #ffffff;
  text-decoration: none; }

/*------------------------------------------------------------------
HEADER
------------------------------------------------------------------*/
.header__menu {
  padding: 1.2rem 0.8rem 0.8rem; }
  .header__menu .navbar-nav .nav-link {
    color: #066fcc;
    font-size: 1rem;
    font-weight: 500;
    padding-right: .7rem;
    padding-left: .7rem; }
    .header__menu .navbar-nav .nav-link:hover {
      color: #3C3C3C; }
  .header__menu.scrolled {
    background-color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .header__menu--logo {
    margin-right: 30px; }
    .header__menu--logo img {
      max-height: 26px;
      text-align: center; }
  .header__menu--boton {
    color: white; }
    .header__menu--boton i {
      color: #066fcc;
      font-size: 28px; }
  .header__menu--sesion .btn-outline-warning:hover {
    color: white; }
  .header__menu--sesion .btn-registrar {
    background-color: #066fcc; }
  .header__menu--sesion .btn-outline-light:hover {
    color: #066fcc;
    background-color: white;
    border-color: #066fcc; }
  .header__menu a.dropdown-item {
    color: #066fcc; }
  .header__menu__imagen img {
    max-width: 100%; }

button:focus {
  outline: 1px dotted; }

/*------------------------------------------------------------------
HOME
------------------------------------------------------------------*/
.home {
  background-color: #066fcc; }
  .home__texto {
    padding: 80px 5px 130px 5px; }
    .home__texto--parrafo {
      font-size: 19px;
      color: white;
      margin: 0 0 2rem; }
    .home__texto--correo {
      padding: 1.5rem 9rem 1.5rem 0.75rem;
      margin-right: 5px; }
    .home__texto--cuenta {
      background-color: #FFC225;
      padding: 0.75rem; }
    .home__texto .btn-outline-light:hover {
      color: #FFC225;
      background-color: white;
      border-color: #066fcc; }

/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.banner {
  margin: 0px 0.5%;
  text-align: center; }
  .banner__img {
    margin-top: -32%;
    max-width: 100%; }

/*------------------------------------------------------------------
SECCTION CRYSTAL
------------------------------------------------------------------*/
.crystal {
  background-color: #ffffff;
  margin: 40px 0px; }
  .crystal h3 {
    color: #0E70C7; }
  .crystal__img {
    padding-top: 40px;
    padding-bottom: 5px; }
  .crystal span {
    font-size: 15px;
    color: #0E70C7;
    font-weight: 600; }

/*------------------------------------------------------------------
SECCTION METODOLOGIA CRYSTAL
------------------------------------------------------------------*/
.metodologia {
  background-color: #f5f8fd;
  padding: 60px 0px 75px; }
  .metodologia .metodo-img {
    display: block;
    margin: 0px auto;
    max-width: 35%; }
  .metodologia h4 {
    color: #0E70C7; }
  .metodologia p {
    padding-bottom: 20px; }

.metodologia__card {
  margin: 8px 0px;
  padding: 30px 30px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.metodologia__card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.068);
  transform: translateY(-2%); }

/*------------------------------------------------------------------
SECCTION USUARIOS
------------------------------------------------------------------*/
.usuarios {
  background-image: url("../img/fondoAzul.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 80% 20%; }
  .usuarios .imgAdd {
    width: 70px;
    height: 70px; }
  .usuarios span {
    font-size: 18px; }
  .usuarios p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500; }

.usuarios-overlay {
  background-color: rgba(31, 31, 31, 0.507);
  padding: 70px 0px; }

/*------------------------------------------------------------------
SECCTION TESTIMONIOS
------------------------------------------------------------------*/
.testimonio {
  padding: 60px 0px 75px; }
  .testimonio__titulo {
    text-align: center;
    padding-bottom: 40px; }
  .testimonio__usuario {
    padding-left: 10%; }
    .testimonio__usuario--img {
      width: 110px;
      border-radius: 50%; }
  .testimonio__texto h3 {
    font-size: 19px;
    font-weight: 600;
    color: #6d6d6d; }
  .testimonio__texto p {
    margin-top: 30x;
    font-size: 16px;
    color: #777777; }
  .testimonio .carousel-indicators li {
    background-color: #0E70C7;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-bottom: -90px; }

/*------------------------------------------------------------------
FOOTER
------------------------------------------------------------------*/
.footer__svg--secondary {
  fill: #0E70C7; }

.footer {
  background-color: #0E70C7; }
  .footer__top {
    padding-top: 40px;
    margin-bottom: 60px; }
    .footer__top--logo {
      margin-bottom: 35px; }
      .footer__top--logo img {
        max-height: 26px;
        text-align: center;
        margin-bottom: 20px; }
    .footer__top--contacto {
      margin-bottom: 21px; }
      .footer__top--contacto li a {
        padding-left: 10px;
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-weight: 400; }
      .footer__top--contacto li a:hover {
        color: #FFC320; }
    .footer__top ul {
      list-style-type: none; }
      .footer__top ul li {
        font-size: 16px;
        margin: 7px; }
    .footer__top .btnCuenta {
      color: #ffffff;
      padding: 13px 20px;
      background-color: #FFC320;
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25); }
    .footer__top .btnCuenta:hover {
      background: #ffffff;
      color: #0E70C7; }
    .footer__top h4 {
      padding-bottom: 10px; }
  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px; }
  .footer p {
    color: #ffffff;
    margin: 0px 0px 20px; }

/*------------------------------------------------------------------
HOME-SOBRE NOSOTROS
------------------------------------------------------------------*/
.homeAbout {
  background-color: #0E70C7; }
  .homeAbout__texto {
    padding-top: 80px;
    padding-bottom: 200px; }
    .homeAbout__texto--parrafo {
      color: #ffffff;
      padding-top: 10px; }

/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.bannerAbout {
  margin: 0px 0.8% 10px;
  text-align: center; }
  .bannerAbout__img {
    margin-top: -25%;
    max-width: 100%; }

/*------------------------------------------------------------------
ORGANIZACION
------------------------------------------------------------------*/
.organizacion {
  padding: 40px 0px 20px; }
  .organizacion__informacion {
    background-color: #f5f8fd;
    box-shadow: 0 0 14px rgba(34, 44, 55, 0.1);
    padding: 30px; }
    .organizacion__informacion--img {
      padding-bottom: 20px; }
    .organizacion__informacion--titulo {
      color: #0E70C7;
      font-size: 19px; }

/*------------------------------------------------------------------
EQUIPO
------------------------------------------------------------------*/
.equipo {
  padding: 60px 0px; }
  .equipo h2 {
    color: #0E70C7; }
  .equipo__usuario {
    padding-top: 30px; }
    .equipo__usuario p {
      background-color: #0E70C7;
      border-radius: 5px;
      padding: 10px;
      color: #ffffff; }
    .equipo__usuario span {
      color: #777777; }
    .equipo__usuario--ceo {
      padding: 0px 80px 40px; }
  .equipo__img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    padding-bottom: 10px; }

/*------------------------------------------------------------------
HOME-JUEGOS
------------------------------------------------------------------*/
.homeJuegos {
  background-color: #0E70C7; }
  .homeJuegos__texto {
    padding-top: 80px;
    padding-bottom: 200px; }

/*-----------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.bannerJuegos {
  margin: 0px 0.8% 10px;
  text-align: center; }
  .bannerJuegos__img {
    margin-top: -25%;
    max-width: 100%; }

/*------------------------------------------------------------------
JUEGOS
------------------------------------------------------------------*/
.juegos {
  padding: 40px 0px; }
  .juegos__card {
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border: none; }
    .juegos__card--titulo {
      color: #0E70C7;
      font-size: 19px; }
    .juegos__card img {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
  .juegos__card:hover {
    background-color: #0e71c74d; }

/*------------------------------------------------------------------
HOME-BLOG
------------------------------------------------------------------*/
.homeBlog {
  background-color: #0E70C7; }
  .homeBlog__texto {
    padding-top: 80px;
    padding-bottom: 200px; }

/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.bannerBlog {
  margin: 0px 0.8% 10px;
  text-align: center; }
  .bannerBlog__img {
    margin-top: -25%;
    max-width: 100%; }

/*------------------------------------------------------------------
BLOG
------------------------------------------------------------------*/
.blog {
  padding: 40px 0px; }
  .blog__card {
    box-shadow: 0 0 14px rgba(34, 44, 55, 0.1);
    margin-bottom: 30px;
    padding: 20px; }
    .blog__card--texto {
      color: #0E70C7;
      font-size: 19px; }

/*------------------------------------------------------------------
HOME-PREGUNTAS
------------------------------------------------------------------*/
.homePreguntas {
  background-color: #0E70C7; }
  .homePreguntas__texto {
    padding-top: 80px;
    padding-bottom: 200px; }

/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.bannerPreguntas {
  margin: 0px 0.8% 10px;
  text-align: center; }
  .bannerPreguntas__img {
    margin-top: -25%;
    max-width: 100%; }

/*------------------------------------------------------------------
PREGUNTAS
------------------------------------------------------------------*/
.preguntas {
  padding: 40px 0px; }
  .preguntas__card {
    border: 1px dashed #0E70C7;
    margin-bottom: 10px; }
    .preguntas__card--titulo {
      color: #0E70C7;
      font-size: 19px; }

/*------------------------------------------------------------------
RESPONSIVE-MEDIA QUERIES
------------------------------------------------------------------*/
@media (max-width: 1199.98px) {
  /*---------*****----------Principal-----------*****---------*/
  .home__texto {
    padding-top: 70px;
    padding-left: 10px; }
    .home__texto h1 {
      font-size: 35px;
      text-align: center; }
    .home__texto--parrafo {
      text-align: center;
      font-size: 18px; }
    .home__texto .home__texto--correo {
      padding-right: 5rem;
      margin-right: 5px; }
    .home__texto--form {
      justify-content: center; }
  /*---------*****--------Sobre Nosotros---------*****---------*/
  /*---------*****------------Juegos------------*****---------*/
  /*---------*****------------Blog-------------*****-----------*/
  /*---------*****------Preguntas Frecuentes------*****--------*/ }

@media (max-width: 991.98px) {
  /*---------*****----------Principal-----------*****---------*/
  .header__menu {
    background-color: white !important;
    padding: 1rem 1rem; }
  .home__texto {
    padding-top: 65px;
    padding-bottom: 90px; }
    .home__texto h1 {
      font-size: 30px; }
    .home__texto--parrafo {
      font-size: 17px;
      margin: 0 0 1rem; }
    .home__texto .home__texto--correo {
      display: none; }
  .crystal__img {
    padding-top: 40px; }
  /*---------*****--------Sobre Nosotros---------*****---------*/
  .homeAbout__texto {
    padding-top: 100px;
    padding-bottom: 150px; }
  /*---------*****------------Juegos------------*****---------*/
  .homeJuegos__texto {
    padding-top: 100px;
    padding-bottom: 150px; }
  /*---------*****------------Blog-------------*****-----------*/
  .homeBlog__texto {
    padding-top: 100px;
    padding-bottom: 150px; }
  /*---------*****------Preguntas Frecuentes------*****--------*/
  .homePreguntas__texto {
    padding-top: 100px;
    padding-bottom: 150px; } }

@media (max-width: 767.98px) {
  /*---------*****---------Principal---------*****---------*/
  .home__texto {
    margin-left: 1.5%;
    padding-left: 0.5%; }
    .home__texto h1 {
      font-size: 150%;
      text-align: left; }
    .home__texto--parrafo {
      font-size: 80%;
      margin: 0 0 2rem;
      text-align: left; }
    .home__texto--form {
      justify-content: left; }
  .crystal__img {
    padding-top: 0px;
    padding-bottom: 10px; }
  .testimonio {
    text-align: center; }
    .testimonio__texto h3 {
      text-align: center;
      padding-top: 15px; }
  /*---------*****--------Sobre Nosotros---------*****---------*/
  /*---------*****------------Juegos------------*****---------*/
  /*---------*****------------Blog-------------*****-----------*/
  /*---------*****------Preguntas Frecuentes------*****--------*/ }

@media (max-width: 575.98px) {
  /*---------*****----------Principal-----------*****---------*/
  .home__texto {
    padding: 10% 5px 10% 5px;
    margin: 0 5%; }
    .home__texto h1 {
      font-size: 150%;
      text-align: center;
      padding-top: 40px; }
    .home__texto--parrafo {
      font-size: 80%;
      text-align: center;
      margin: 0 0 2rem; }
    .home__texto .home__texto--correo {
      margin-right: 0px;
      margin-bottom: 12px;
      padding-right: 0px;
      padding-left: 10px; }
    .home__texto .home__texto--cuenta {
      background-color: #FFC225;
      margin-bottom: 10%;
      padding: 0.50rem;
      font-size: 0.8rem; }
    .home__texto--form {
      justify-content: center; }
  .crystal__img {
    padding-top: 0px;
    padding-bottom: 10px; }
  /*---------*****--------Sobre Nosotros---------*****---------*/
  .homeAbout__texto {
    padding-bottom: 80px; }
    .homeAbout__texto h1 {
      font-size: 35px; }
  /*---------*****------------Juegos------------*****---------*/
  .homeJuegos__texto {
    padding-bottom: 80px; }
    .homeJuegos__texto h1 {
      font-size: 35px; }
  .juegos {
    padding-top: 14px; }
  /*---------*****------------Blog-------------*****-----------*/
  .homeBlog__texto {
    padding-bottom: 80px; }
    .homeBlog__texto h1 {
      font-size: 35px; }
  .blog {
    padding-top: 14px; }
  /*---------*****------Preguntas Frecuentes------*****--------*/
  .homePreguntas__texto {
    padding-bottom: 80px; }
    .homePreguntas__texto h1 {
      font-size: 35px; }
  .preguntas {
    padding-top: 14px; } }

/*@import "signin";
@import "404";
@import "typography";
*/
