/*------------------------------------------------------------------
Template default CSS
-------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-primary;
    color: $color-white;
    letter-spacing: 0.01071em;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    color: $color-primary;
    font-size: 35px;
    padding: 10px 0px 0px 0px;
    line-height: 1.35;
    letter-spacing: .005em;
    margin-bottom: 16px;
}

h3 {
    letter-spacing: .005em;
    color: $color-primary;
    font-size: 19px;
    font-weight: 600;
}

h4 {
    color: $color-white;
    font-size: 19px;
    text-align: center;
    line-height: 1.45;
    font-weight: 600;
    letter-spacing: .005em;
}

h5 {
    color: $color-primary;
    font-size: 16px;
    font-weight: 600;
}

p {
    font-size: 16px;
    color: $color-texto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .005em;
}

a {
    color:$color-white;
    text-decoration: none;
}
