/*------------------------------------------------------------------
HOME-PREGUNTAS
------------------------------------------------------------------*/
.homeBlog{
    @include home;
    &__texto {
        padding-top: 80px;
        padding-bottom:200px;
    }
}
/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.bannerBlog {
    @include banner;
    &__img {
        margin-top: -25%;
        max-width: 100%;
    }
}
.blog {
    padding: 40px 0px;
    &__card {
        box-shadow: 0 0 14px rgba(34, 44, 55, 0.1);
        margin-bottom: 30px;
        padding: 20px;
        &--texto {
            color: $color-primary;
            font-size: 19px;
        }
        &--decripcion {
            font-size: 16px;
        }
    }
}