/*------------------------------------------------------------------
HEADER
------------------------------------------------------------------*/
.header__menu {
    padding: 1.2rem 0.8rem 0.8rem;
    .navbar-nav {
        .nav-link {
            color: $color-primary;
            font-size: 1rem;
            font-weight: 500;
            padding-right: .7rem;
            padding-left: .7rem;
            &:hover {
                color: $color-texto;
            }
        }
    }
    &.scrolled {
        background-color: $color-white !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &--logo {
        margin-right: 30px;
        img {
            max-height: 26px;
            text-align: center;
        }
    }
    &--boton {
        i {
            color: $color-primary;
            font-size: 28px;
        }
        color: $color-white;
    }
    &--sesion {
        .btn-outline-warning:hover{
            color: $color-white;
        }
        .btn-registrar {
            background-color: $color-primary; 
        }
        .btn-outline-light:hover {
            color: $color-primary; 
            background-color: $color-white;
            border-color: $color-primary;
        }
    }
    a.dropdown-item {
        color: $color-primary;
    }
    &__imagen {
        img {
            max-width: 100%;
        }
    }
}
button:focus {
    outline: 1px dotted;
}