/*------------------------------------------------------------------
HOME
------------------------------------------------------------------*/
.home {
    background-color:#066fcc;
    &__texto {
        padding:80px 5px 130px 5px;
        &--parrafo {
            font-size: 19px;
            color:white;
            margin: 0 0 2rem;
        }
        .home__texto--correo{
            padding: 1.5rem 9rem 1.5rem 0.75rem;
            margin-right: 5px;
        }
        .home__texto--cuenta{
            background-color: #FFC225;
            padding: 0.75rem;
        }
        
        .btn-outline-light:hover {
            color: #FFC225; 
            background-color: white;
            border-color: #066fcc;
        }
    }
}
/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.banner {
    margin: 0px 0.5%;
    text-align: center;
    &__img {
        //margin-top: -390px;
        margin-top: -32%;
        max-width: 100%;
    }
}
/*------------------------------------------------------------------
SECCTION CRYSTAL
------------------------------------------------------------------*/
.crystal {
    background-color: $color-white;
    margin: 45px 0px;
    h3 {
        color: $color-primary;
    }
    &__img {
        padding-top: 40px;
        width: 90%;
    }
    span {
        font-size: 15px;
        color: $color-primary;
        font-weight: 600;
    }
}
/*------------------------------------------------------------------
SECCTION METODOLOGIA CRYSTAL
------------------------------------------------------------------*/
.metodologia{
    background-color: #f5f8fd;
    padding: 70px 0 70px 0;
    .metodo-img {
        display: block;
        margin: 0px auto;
        max-width: 35%;
    }
    /*&__card {
        margin: 8px 0px;
        padding: 30px 30px;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
        cursor: default;
        transition: all 400ms ease;
    }
    h4 {
        color: $color-primary;
    }
    p{
        padding-bottom: 20px;
    }
    &__card :hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.068);
        transform: translateY(-2%);
    }*/
}


/*------------------------------------------------------------------
SECCTION USUARIOS REGISTRADOS
------------------------------------------------------------------*/
.usuarios {
    background-image: url("../img/fondoAzul.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 80% 20%;
    .imgAdd {
        width: 70px;
        height: 70px;
    }
    span {
        font-size: 18px;
    }
    p {
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
    }
}

.usuarios-overlay {
    background-color: rgba(31, 31, 31, 0.507);
    padding: 70px 0px;
}
/*------------------------------------------------------------------
SECCTION TESTIMONIOS
------------------------------------------------------------------*/
.testimonio {
    padding: 75px 0px;
    &__titulo {
        text-align: center;
        padding-bottom:40px;
    }
    &__usuario {
        padding-left: 10%;
        &--img {
            width: 110px;
            border-radius: 50%;
        }
    }
    &__texto {
        //padding-bottom: 25px;
        h3 {
            font-size: 19px;
            font-weight: 600;
            color: #6d6d6d;
        }
        p {
            margin-top: 30x;
            font-size: 16px;
            color: #777777;
        }
    }
    .carousel-indicators li {
        background-color: $color-primary;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-bottom:-90px;
    }
}