/*------------------------------------------------------------------
HOME
------------------------------------------------------------------*/
.home {
    background-color:$color-primary;
    &__texto {
        padding:80px 5px 130px 5px;
        &--parrafo {
            font-size: 19px;
            color: $color-white;
            margin: 0 0 2rem;
        }
        &--correo{
            padding: 1.5rem 9rem 1.5rem 0.75rem;
            margin-right: 5px;
        }
        &--cuenta{
            background-color: $color-secondary;
            padding: 0.75rem;
        }
        .btn-outline-light:hover {
            color: $color-secondary; 
            background-color:$color-white;
            border-color: $color-primary;
        }
    }
}
/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.banner {
    margin: 0px 0.5%;
    text-align: center;
    &__img {
        margin-top: -32%;
        max-width: 100%;
    }
}
/*------------------------------------------------------------------
SECCTION CRYSTAL
------------------------------------------------------------------*/
.crystal {
    background-color: $color-white;
    margin: 40px 0px;
    h3 {
        color: $color-primary;
    }
    &__img {
        padding-top: 40px;
        padding-bottom: 5px;
    }
    span {
        font-size: 15px;
        color: $color-primary;
        font-weight: 600;
    }
}
/*------------------------------------------------------------------
SECCTION METODOLOGIA CRYSTAL
------------------------------------------------------------------*/
.metodologia{
    background-color: $color-fondo;
    padding: 60px 0px 75px;
    .metodo-img {
        display: block;
        margin: 0px auto;
        max-width: 35%;
    }
    h4 {
        color: $color-primary;
    }
    p{
        padding-bottom: 20px;
    }
}
.metodologia__card {
    margin: 8px 0px;
    padding: 30px 30px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.metodologia__card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.068);
    transform: translateY(-2%);
}
/*------------------------------------------------------------------
SECCTION USUARIOS
------------------------------------------------------------------*/
.usuarios {
    background-image: url("../img/fondoAzul.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 80% 20%;
    .imgAdd {
        width: 70px;
        height: 70px;
    }
    span {
        font-size: 18px;
    }
    p {
        font-size: 20px;
        color:$color-white;
        font-weight: 500;
    }
}

.usuarios-overlay {
    background-color: rgba(31, 31, 31, 0.507);
    padding: 70px 0px;
}
/*------------------------------------------------------------------
SECCTION TESTIMONIOS
------------------------------------------------------------------*/
.testimonio {
    padding: 60px 0px 75px;
    &__titulo {
        text-align: center;
        padding-bottom:40px;
    }
    &__usuario {
        padding-left: 10%;
        &--img {
            width: 110px;
            border-radius: 50%;
        }
    }
    &__texto {
        //padding-bottom: 25px;
        h3 {
            font-size: 19px;
            font-weight: 600;
            color:$color-texto;
        }
        p {
            margin-top: 30x;
            font-size: 16px;
            color:$color-texto;
        }
    }
    .carousel-indicators li {
        background-color: $color-primary;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-bottom:-90px;
    }
}