/*------------------------------------------------------------------
HOME-JUEGOS
------------------------------------------------------------------*/
.homeJuegos{
    @include home;
    &__texto {
        @include homeTexto; 
    }
}
/*-----------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.bannerJuegos {
    @include banner;
    &__img {
        margin-top: -25%;
        max-width: 100%;
    }
}
/*------------------------------------------------------------------
JUEGOS
------------------------------------------------------------------*/
.juegos{
    padding: 40px 0px;
    &__card {
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
        border: none;
        img {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        } 
    }
    &__card:hover {
        background-color:#0e71c74d;
    }
}
