/*------------------------------------------------------------------
HOME
------------------------------------------------------------------*/
.homeJuegos{
    background-color: #0E70C7;
    padding: 100px 20px;
    h1{
        padding-top:5px;
    }
    p{
        color:$color-menu;
    }
}
/*------------------------------------------------------------------
JUEGOS
------------------------------------------------------------------*/
.juegos{
    padding: 90px 0px;
    &__cards {
        margin-top: 10px;
    }
}