@mixin home {
    background-color: $color-primary;
}

@mixin banner{
    margin: 0px 0.8% 10px;
    text-align: center;
}

@mixin homeTexto{
    padding-top: 80px;
    padding-bottom:200px;
}

@mixin homeResponsiveTexto{
    padding-top: 100px;
    padding-bottom:150px;
}
