/*------------------------------------------------------------------
HOME-SOBRE NOSOTROS
------------------------------------------------------------------*/
.homeAbout{
    @include home;
    &__texto {
        padding-top: 80px;
        padding-bottom:200px;
        &--parrafo {
            color:$color-white;
            padding-top: 10px;
        }
    }
}
/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.bannerAbout {
    @include banner;
    &__img {
        margin-top: -25%;
        max-width: 100%;
    }
}
/*------------------------------------------------------------------
ORGANIZACION
------------------------------------------------------------------*/
.organizacion {
    padding: 40px 0px 20px;
    &__informacion {
        background-color: $color-fondo;
        box-shadow: 0 0 14px rgba(34, 44, 55, 0.1);
        padding: 30px;
        &--img {
            padding-bottom: 20px;
        }
        &--titulo {
            color: $color-primary;
            font-size: 19px;
        }
        &--decripcion {
            font-size: 16px;
        }
    }
}
/*------------------------------------------------------------------
EQUIPO
------------------------------------------------------------------*/
.equipo{
    padding: 60px 0px;
    h2{
        color: $color-primary;
    }
    &__usuario {
        padding-top: 30px;
        p {
            background-color: $color-primary;
            border-radius: 5px;
            padding: 10px;
            color: $color-white;  
        }
        span {
            color: $color-texto;
        }
        &--ceo {
            padding: 0px 80px 40px;
        }
    }
    &__img {
        width: 120px;
        border-radius: 50%;
        border: 4px solid #fff;
        padding-bottom: 10px;
    }
}
