@import "variable";
/*------------------------------------------------------------------
HOME-SOBRE NOSOTROS
------------------------------------------------------------------*/
.homeAbout{
    background-color: #0E70C7;
    &__texto {
        padding-top: 80px;
        padding-bottom:70px;
        &--parrafo {
            color:$color-menu;
            padding-top: 10px;
        }
    }
}
/*------------------------------------------------------------------
BANNER
------------------------------------------------------------------*/
.bannerAbout {
    margin: 0px 0.5%;
    &__img {
        margin-top:-9%;
    }
}
/*------------------------------------------------------------------
ORGANIZACION
------------------------------------------------------------------*/
.organizacion {
    background-color: #EFF7F7;
    &__vision {
        padding: 50px 2%;
    }
}
/*------------------------------------------------------------------
EQUIPO
------------------------------------------------------------------*/
.equipo{
    padding: 50px 0px 100px 0px;
    h2{
        color: $color-primary;
    }
    &__usuario {
        padding-top: 30px;
        .equipo__img {
            width: 120px;
            border-radius: 50%;
            border: 4px solid #fff;
        }
    }
}
