$color-primary:#0E70C7;
$color-secondary: #FFC320;
$color-texto: #777777;
$color-white:#ffffff; 
$color-fondo:#d0d4d8;

$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-third: 'Rubik','Roboto', sans-serif;

