$color-primary:#0E70C7;
$color-secondary:#FFC225;
$color-menu:#ffffff; 
$color-texto: #3C3C3C;
$color-fondo:#d0d4d8;

$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-third: 'Rubik','Roboto', sans-serif;

